.dropdown{
  color: var(--secondary);
  background-color: rgb(255, 211, 193) !important;
  text-align: center;
}

.data_title {
  font-weight: bold;  
}

.sell_button {
  background-color: transparent;
  color: red;
  border: none;
}