.price_change_container {
  margin-top: 3rem;
  color: white;
}

.market_wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 1rem;
}

.market_row {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.market_row p {
  color: var(--primary)
}

span {
  margin-top: 0.75rem;
}