*, *::before, *::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;    
  font-family: 'Poppins', sans-serif;
}

body {
  --primary: rgba(33, 33, 33, 1);
  --secondary: rgba(242, 169, 0, 1);
  background-color: var(--primary);
  width: 100vw;
  height: 100vh;
}

.app_container {
  width: 100%;
  max-width: 1600px;
  height: 100vh;
  margin: 0 auto;
}
