*, *::before, *::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;    
  font-family: 'Poppins', sans-serif;
}

body {
  --primary: rgba(242, 169, 0, 1);
  --secondary: rgba(33, 33, 33, 1);
  background-color: var(--secondary);
  width: 100vw;
  height: 100vh;
  overflow: hidden;
}

.app_container {
  width: 100%;
  max-width: 1600px;
  padding: 1rem 2rem;
  margin: auto;
  /* border: 1px solid white; */
}
