* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;    
}

body {
  --primary: rgba(33, 33, 33, 1);
  --secondary: rgba(242, 169, 0, 1);
  background-color: var(--primary);
  padding-left: 5%;
  padding-right: 5%;
}

.app_container {
  max-width: calc(1600px + 10%);  
  height: 100vh;
  margin: 0 auto;
}
